.charts-box{
  background-color: #fff;
}
.charts-box a:link {
  color: #333;
  text-decoration: none;
}
.box {
  width: 100%;
  height: 300px;
  border: dotted 1px #ccc;
  padding: 20px;
}

.box .row.header {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
}

.box .row.content {
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items:center;
  justify-content: center;
  height: 100%;
}

.box .row.header.button {
  display: flex;
  justify-content: flex-end;
}

.chart-content {
  height: 210px;
}

.charts-more-btn {
  float: right;
}

.btn-charts {
  border: none;
  background-color: #fff;
}